* {
  transition: all 0.2s;
}
a {
  text-decoration: none;
  color: black;
}
.gothic {
  font-family: "Yoon Gothic", "Apple Gothic Neo", 'gulim', 'sans-serif';
}
.pure-g > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.l-box {
  padding-right: 30px;
}
body {
  overflow-y: hidden;
}
header {
  background: black;
  text-align: center;
  padding: 50px 0 40px 0;
  background: url(../img/bg.png) no-repeat;
  background-size: cover;
}
header h1 {
  margin: 0;
}
header h1 a {
  background-image: url("../img/logo@2x.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 0;
  padding: 0;
  padding-top: 83px;
  width: 212px;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  transform: translate(0px, 100px);
  -webkit-transform: translate(0px, 100px);
  opacity: 0;
  transition: all 0.7s 0s cubic-bezier(0.44, 1.49, 0.58, 0.99);
}
header p.desc {
  color: white;
  font-size: 0.7em;
  font-family: "Yoon Gothic", "Apple Gothic Neo", 'gulim', 'sans-serif';
  padding-top: 10px;
  padding-bottom: 10px;
  transform: translate(0px, 100px);
  -webkit-transform: translate(0px, 100px);
  opacity: 0;
}
header .request {
  padding-top: 35px;
}
header .request a {
  transform: translate(0px, 0px);
  width: 100px;
  padding-left: 20px;
  opacity: 0;
  line-height: 40px;
  height: 40px;
  background: white;
  border-radius: 100px;
  display: block;
  margin: 0 auto;
  font-weight: bold;
  font-size: 0.8em;
  position: relative;
}
header .request a i {
  position: absolute;
  left: 15px;
  line-height: 40px;
}
header .request p {
  transform: translate(0px, 0px);
  font-size: 0.7em;
  font-family: "Yoon Gothic", "Apple Gothic Neo", 'gulim', 'sans-serif';
  padding-top: 10px;
  opacity: 0;
  color: white;
}
.move header h1 a {
  transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  opacity: 1;
  transition: all 1s 0.2s cubic-bezier(0.44, 1.49, 0.58, 0.99);
}
.move header p.desc {
  transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  opacity: 1;
  transition: all 1s 0.1s cubic-bezier(0.44, 1.49, 0.58, 0.99);
}
.move header .request a {
  transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  opacity: 1;
  transition: all 1s 0.9s cubic-bezier(0.44, 1.49, 0.58, 0.99);
}
.move header .request p {
  transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  opacity: 1;
  transition: all 1s 0.9s cubic-bezier(0.44, 1.49, 0.58, 0.99);
}
.container {
  min-height: 900px;
}
.productTitle {
  font-family: 'Rajdhani', sans-serif !important;
  font-size: 3em;
  font-weight: 700;
  line-height: 120px;
  box-sizing: border-box;
  padding-left: 6%;
  border-top: 1px solid #ccc;
  margin-top: 0px;
}
.productTitle:first-child {
  border: none;
  margin-top: 0;
}
.productTitle a {
  display: inline-block;
}
.date {
  font-family: 'Rajdhani', sans-serif !important;
  font-weight: 300;
  font-size: 2.5em;
  padding-top: 30px;
  color: #333;
  box-sizing: border-box;
  text-align: center;
}
.date .desc {
  font-family: sans-serif !important;
  font-weight: bold;
  font-size: 0.3em;
  display: block;
  padding-bottom: 30px;
}
.content a:hover {
  color: #df3557 !important;
}
.content .info {
  padding-left: 6%;
}
.content .info ul {
  padding: 0;
  margin: 0;
}
.content .info ul li {
  padding: 0 0 10px 0;
  list-style: none;
}
.content .info ul li.image img {
  width: 100%;
  height: auto;
  border: 1px solid #ddd;
}
.content .info ul li.title {
  font-size: 1.5em;
  font-weight: 800;
  padding: 20px 0 0 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.content .info ul li.title h3 {
  margin: 0;
}
.content .info ul li.url a {
  font-size: 0.7em;
  color: #999;
  padding-bottom: 15px;
  word-break: break-all;
}
.content .info ul li.tag a {
  font-size: 0.8em;
  padding-right: 15px;
}
.content .info ul li.tag a:last-child {
  padding: 0;
}
.content .article {
  font-size: 0.8em;
  line-height: 1.8;
}
.content .article .comment {
  color: #555;
}
.content .article .author {
  padding: 14px 0 20px 0;
  margin-bottom: 30px;
}
.content .article .author:last-child {
  border: none;
}
.content .article .author img {
  width: 40px;
  height: 40px;
  border-radius: 100px;
}
.content .article .author span {
  font-weight: bold;
  padding-left: 10px;
  font-size: 1.1em;
}
.content .shareBox {
  padding-bottom: 20px;
}
.content .shareBox span {
  display: block;
  font-size: 0.7em;
  color: #555;
  padding-bottom: 5px;
}
.content .shareBox i {
  margin-right: 6px;
  opacity: 0.6;
}
.content .userComment .fb-like {
  padding-bottom: 14px;
  width: 300px;
}
.content .fbcomment {
  padding-bottom: 150px;
}
.content .dateShareBox {
  padding: 40px 0;
  margin-right: -30px;
  padding-right: 30px;
  background: url(../img/bg.png) no-repeat;
  background-size: cover;
  color: white;
  line-height: 1;
  display: none;
}
.content .dateShareBox h4 {
  padding: 0;
  margin: 0 0 0 6%;
}
.content .dateShareBox p {
  font-size: 0.7em;
  opacity: 0.8;
  padding: 8px 0 0 0;
  margin: 0 0 0 6%;
}
.content .userComment {
  background: white;
  padding: 10px 0 ;
  border-top: 1px solid #eee;
  font-size: 0.9em;
  min-height: 40px;
  font-weight: bold;
}
.content .userComment a.no {
  float: right;
  margin-top: -45px;
  line-height: 30px;
}
.content .userComment a.no i {
  font-size: 1.7em;
  line-height: 30px;
  opacity: 0.5;
}
.content .more {
  overflow: auto;
  padding: 20px 0;
  border-top: 1px solid #eee;
}
.content .more .date {
  font-size: 1.7em;
  display: block;
  padding: 0;
  margin: 0;
  line-height: 1;
}
.content .more .prev {
  float: left;
  margin-left: 6%;
  display: block;
  padding: 14px;
}
.content .more .prev i {
  float: left;
  display: block;
  width: 90px;
  display: none;
}
.content .more .next {
  float: right;
  display: block;
  margin-right: 6%;
  padding: 14px;
}
.content .more .next i {
  float: right;
  display: none;
}
.content .more .text {
  font-size: 0.9em;
  color: #777;
}
@media screen and (max-width: 64em) {
  .article {
    padding-left: 6%;
  }
  .l-box {
    padding-right: 6%;
  }
}
.side {
  padding-left: 2em;
  background: #ededed;
  padding-right: 30px;
  margin-right: -30px;
  overflow-y: hidden;
}
.side h4 {
  font-size: 0.7em;
  padding-top: 50px;
}
.side ul {
  padding: 0;
}
.side ul li {
  list-style: none;
}
.side .Email h4 {
  font-weight: bold;
  padding-bottom: 10px;
}
.side .pure-form .pure-input-rounded {
  border-radius: 10px 0 0 10px ;
  border: 1px solid white ;
  box-shadow: none;
  border-right: 0;
  display: inline-block;
  font-size: 0.8em;
  line-height: 40px;
  padding: 0 10px;
  width: 230px;
}
.side .pure-form .pure-button {
  background: black;
  color: white;
  border-radius: 0 10px 10px 0;
  display: inline-block;
  border: 1px solid black;
  line-height: 40px;
  padding: 0 10px;
}
.side .pure-form.move .pure-button {
  background: #FF1477;
  border: 1px solid #FF1477;
  transition: all 0.9s;
}
.side .author {
  padding-top: 20px;
}
.side .author li {
  display: inline-block;
  width: 60px;
  text-align: center;
  padding-right: 10px;
}
.side .author li a {
  font-size: 0.7em;
  font-weight: bold;
}
.side .author li a img {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
  display: block;
  border-radius: 20px;
  border: 5px solid white;
}
.side .taglist {
  border-top: 1px solid #ccc;
  margin-top: 20px;
  padding-top: 30px;
}
.side .taglist li {
  float: left;
  display: inline-block;
}
.side .taglist a {
  font-size: 0.8em;
  line-height: 30px;
  display: inline-block;
  padding-right: 10px;
  color: #666;
}
.side .taglist a:hover {
  color: #000;
  background: #fff;
}
@media screen and (max-width: 400px) {
  header {
    padding: 40px 0 0px 0;
  }
  .side .pure-form .pure-input-rounded {
    width: 200px;
  }
}
#view {
  width: 100%;
  height: 100%;
}
#view .iframeView {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding-top: 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.iframe #fixed-header {
  overflow: hidden;
  height: 60px;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #1f1f1f;
}
.iframe #fixed-header h2 {
  background-image: url("../img/logo@2x.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 0;
  padding: 0;
  padding-top: 83px;
  width: 212px;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  float: left;
  transform: translate(-40px, -10px) scale(0.4, 0.4);
  opacity: 1;
  transition: all 0.7s 0s cubic-bezier(0.44, 1.49, 0.58, 0.99);
}
.iframe #fixed-header div.comments {
  height: 60px;
  line-height: 60px;
  float: right;
  padding: 0 20px;
  display: block;
  background: #1F1F1F;
}
.iframe #fixed-header div.comments a {
  color: white;
  opacity: 1;
  font-weight: bold;
  font-size: 0.8em;
}
.iframe #fixed-header div.comments .fb-like span {
  vertical-align: middle !important;
}
.iframe #fixed-header .spacer {
  padding: 0 10px;
  color: #777;
  font-size: 0.8em;
}
.popup {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  opacity: 0;
  z-index: -100;
}
.popup form {
  background: white;
  width: 600px;
  top: 100px;
  padding: 40px;
  margin-left: -340px;
  margin-bottom: 100px;
  border-radius: 20px;
  left: 50%;
  position: absolute;
  padding-bottom: 60px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.2s cubic-bezier(0.44, 1.49, 0.58, 0.99);
  transform: translate(0, 50px);
}
.popup form .submit {
  display: block;
  width: 100%;
  margin: -40px;
  padding: 40px;
  margin-top: 40px;
  box-sizing: initial;
  border-radius: 0;
}
.popup .close {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 3em;
  color: white;
  transform: translate(0, -100px);
  transition: all 0.2s cubic-bezier(0.44, 1.49, 0.58, 0.99);
  opacity: 0;
  cursor: pointer;
}
.popup.move {
  opacity: 1;
  z-index: 1000;
}
.popup.move form.box {
  transform: translate(0, 0px);
  transition: all 0.4s cubic-bezier(0.44, 1.49, 0.58, 0.99);
}
.popup.move .close {
  transform: translate(0, 0px);
  transition: all 0.5s 0.2s;
  opacity: 1;
}
.popup .wdform-label {
  font-size: 0.8em;
  font-weight: bold;
}
.popup .wdform-element-section {
  width: 400px !important;
}
.popup .wdform_page_navigation {
  display: none;
}
.popup .wdform-element-section .button-submit {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 30px 0;
  background: #FF1E4D;
}
.popup .input_deactive {
  width: 400px !important;
  line-height: 30px !important;
  border-radius: 4px !important;
}
.popup .wdform-field {
  width: 600px !important;
}
.popup p.desc {
  padding: 0 0 30px 0;
  margin-bottom: 0px;
  border-bottom: 1px solid #ccc;
  font-size: 0.9em;
  font-weight: bold;
}
@media screen and (max-width: 800px) {
  .popup form {
    width: 100%;
    top: -50px;
    left: 0;
    margin: 0;
    padding: 10px;
    padding-top: 100px;
    padding-bottom: 80px;
    border-radius: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .popup form .submit {
    display: block;
    width: 100%;
    margin: -40px;
    padding: 40px;
    margin-top: 40px;
    box-sizing: initial;
    border-radius: 0;
  }
  .popup .input_deactive {
    width: 90% !important;
    line-height: 30px !important;
    border-radius: 4px !important;
  }
  .popup .wdform-field {
    width: 90% !important;
  }
  .popup .close {
    color: black;
    z-index: 1000000000;
  }
  .popup .wdform-label {
    width: 100% !important;
    display: block;
  }
}
footer {
  background: #333;
  height: 120px;
  padding-top: 20px;
  color: white;
  font-size: 0.8em;
  overflow: hidden;
}
footer a {
  color: #ccc;
}
footer p {
  margin: 0;
  text-align: center;
  font-size: 0.9em;
  font-weight: normal;
  color: #eee;
  transform: translate(0px, 100px);
  -webkit-transform: translate(0px, 100px);
  opacity: 1;
  transition: all 0.7s 0s cubic-bezier(0.44, 1.49, 0.58, 0.99);
}
footer p:first-child {
  padding-bottom: 5px;
  font-weight: bold;
  background: url("../img/userstorylab-type-c01.png") center 10px no-repeat;
  background-size: 40px 40px;
  padding-top: 60px;
  color: white;
}
footer p:first-child a {
  color: white;
}
footer .contact a {
  padding: 0 5px ;
}
footer.move p {
  transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  opacity: 1;
  transition: all 0.9s 0s ease;
}
body {
  overflow: auto;
  transition: all 0 1s;
}
body.fix {
  overflow: hidden;
  transition: all 0 1s;
}
.fb-comments,
.fb-comments iframe[style],
.fb-comments span[style] {
  width: 100% !important;
}
@media screen and (max-width: 480px) {
  .pure-input-rounded,
  .pure-form button[type=submit] {
    margin: 0 !important;
  }
  .content .more .next {
    float: left;
    margin-left: 6%;
  }
  header .request {
    padding: 30px;
  }
  .side {
    padding-bottom: 30px;
  }
  .userComment {
    overflow: hidden;
  }
  .userComment a.no {
    margin: 0 !important;
  }
  .fb-like {
    width: 300px !important ;
    display: inline-block;
    overflow: hidden;
  }
  #view {
    width: 100%;
    height: 100%;
    overflow: scroll;
  }
  #view .iframeView {
    -webkit-overflow-scrolling: touch;
  }
  .iframe #fixed-header {
    position: fixed !important;
  }
  .iframe #fixed-header h2 {
    background-image: url("../img/logo@2x.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 0;
    padding: 0;
    padding-top: 83px;
    width: 212px;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    float: left;
    transform: translate(-40px, -10px) scale(0.4, 0.4);
    -webkit-transform: translate(-40px, -10px) scale(0.3, 0.3);
    opacity: 1;
    margin-left: -30px;
  }
  .iframe #fixed-header div.comments {
    padding: 0 0px;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 4px;
  }
  .iframe #fixed-header .spacer {
    padding: 0;
  }
}
